.articleTitle {
  font-size: 20px;
  font-weight: bolder;
  color: darkred;
}

.articleBody {
  border: 2px solid #701717;
  border-radius: 10px;
  padding: 0px 5px 5px 5px;
  background: linear-gradient(to right, #ff5656, white 20%);
  box-shadow: 3px 3px 5px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.time {
  font-weight: bold;
}
