.articleList {
  background-color: #8d9194;
  padding: 15px;
  margin: 15px;
  list-style: none;
  border-radius: 15px;
  border: 2px #545759 dotted;
  box-shadow: red 0px 0px 15px;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 10px;
}

.articleBlock {
  display: grid;
  grid-auto-flow: row;
}
